
body{
        margin: 200;
        padding: 200;
        background-color: silver;
        background-size: full;
        background-position: center ;
        font-family: sans-serif;
}
href {
    color: red
}


